/* Esorina ny @font-face satria ny index.html no manao azy ankehitriny */

body {
    font-family: 'Ezra SIL', Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: #22577a;
    z-index: 100;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #22577a;
    z-index: 100;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.sticky-header #topic-title-link {
    text-align: center;
}
.main-container {
    padding: 1rem;
}
input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.topic-item {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-align: center;
}
.phrase-item {
    background-color: white;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.phrase-item p {
    margin: 0.25rem 0;
}
.phrase-item.expanded .full-phrase-details {
    display: block;
}
.full-phrase-details {
    display: none;
}
a.title {
    text-decoration: none;
    color: white;
}
a.title:hover {
    color: white;
}
.heb {
    font-size: 2rem;
}
.phonetic-text {
    font-size: 1.2rem;
    color: #555;
}
.malagasy-text {
    font-size: 1.2rem;
    color: #555;
}
.topic {
    font-size: 0.8rem;
    color: #999;
}
