@font-face {
    font-family: 'Ezra SIL';
    src: url('SILEOT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: #22577a;
    z-index: 100;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #22577a;
    z-index: 100;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.sticky-header #topic-title-link {
    text-align: center;
}
.main-container {
    padding: 1rem;
}
input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.topic-item {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.phrase-item {
    background-color: white;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.phrase-item p {
    margin: 0.25rem 0;
}
/* By default, hide phonetic and Malagasy texts */
.phrase-item .phonetic-text,
.phrase-item .malagasy-text {
    display: none;
}
/* By default, show the topic name */
.phrase-item .topic {
    display: block;
}
/* Always show the Hebrew text */
.phrase-item p.heb {
    display: block;
}
/* When the item is expanded, show all details */
.phrase-item.expanded .phonetic-text,
.phrase-item.expanded .malagasy-text {
    display: block;
}
/* When the item is expanded, hide the topic name */
.phrase-item.expanded .topic {
    display: none;
}
a.title {
    text-decoration: none;
    color: white;
}
a.title:hover {
    color: white;
}
.hidden {
    display: none;
}
p.heb {
    font-size: 28px;
    color: #22577a;
    direction: rtl;
    font-family: 'Ezra SIL';
}
p.topic {
    font-size: 12px;
    color: darkgrey;
    padding: 5px;
    border-radius: 5px;
    margin: none;
}
h2#topic-title {
    text-align: center;
}
button#back-button {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}
.phonetic-text {
    font-size: 16px;
}
.malagasy-text {
    font-size: 18px;
}
